@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Josefin+Sans:wght@100;200;300;400;500&family=Poppins:wght@400;500;600&family=Quicksand:wght@300&family=Signika+Negative:wght@300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply mt-10 rounded-3xl bg-gray-800 px-4 py-2 font-semibold text-white hover:bg-gray-900 sm:text-xs md:text-xs lg:text-sm xl:text-sm;
  }
  .btnmid {
    @apply mt-10 rounded-full bg-gray-800 px-8 py-3 text-base font-semibold text-white hover:bg-gray-900;
  }
  .btnbig {
    @apply mt-10 rounded-full bg-gray-800 px-14 py-6 text-base font-semibold text-white hover:bg-gray-900;
  }
  .datainput {
    @apply w-56 rounded-lg border-none py-1.5 px-3 text-xs text-black placeholder-gray-500 ring-1 ring-gray-300 focus:ring-2 focus:ring-gray-500;
  }
  .datainput2 {
    @apply w-full rounded-md border border-gray-300 p-6 placeholder:font-sans placeholder:font-light;
  }
}

body {
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  font-family: Poppins;
}
