@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Josefin+Sans:wght@100;200;300;400;500&family=Poppins:wght@400;500;600&family=Quicksand:wght@300&family=Signika+Negative:wght@300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply relative rounded-3xl bg-gradient-to-l from-blue-600 to-purple-700 px-5 py-3 text-center capitalize text-white hover:bg-gradient-to-r hover:font-semibold hover:text-yellow-400 sm:text-base md:text-base lg:text-base xl:text-base;
  }
  .btn2 {
    @apply relative -top-1 -left-1 bg-gray-800 py-2.5 px-5 font-bold capitalize text-white transition-all before:absolute before:top-1 before:left-1 before:-z-[1] before:h-full before:w-full before:border-2 before:border-gray-700 before:transition-all before:content-[''] hover:top-0 hover:left-0 before:hover:top-0 before:hover:left-0;
  }
  .btn3 {
    @apply relative rounded-xl bg-gradient-to-l from-transparent to-violet-400 px-5 py-3 text-center capitalize text-white hover:bg-gradient-to-r hover:font-semibold hover:text-black sm:text-base md:text-base lg:text-base xl:text-base;
  }
  .datainput {
    @apply w-56 rounded-lg border-none py-1.5 px-3 text-xs text-black placeholder-gray-500 ring-1 ring-gray-300 focus:ring-2 focus:ring-gray-500;
  }
  .datainput2 {
    @apply w-full rounded-md border border-gray-300 p-6 placeholder:font-sans placeholder:font-light;
  }
}
